@{
    Layout = "~/Views/Shared/Masterlayout.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> Welcome page </title>
</head>
<body>
    <script language="Javascript">
        var Ten, Tuoi;//khai bao
        //nhap du lieu
        Ten = prompt("Hay nhap ten:", " ");
        Tuoi = prompt('Hay nhap tuoi:', "19 ");
        //hien thi du lieu
        document.write("Hi <b>", +Ten + "</b> </br>");
        document.write("Tuoi cua bn: <u>"+Tuoi+"</u>");
    </script>
</body>
</html>


