
@{
    ViewBag.Title = "Trangchu";
    Layout = "~/Views/Shared/Masterlayout.cshtml";
}

<style type="text/css">
    .banner {
        background-image:url('../../content/image/iphone15promax.png');
        background-size:cover;
        background-position:center;
        height:400px;
        display:flex;
        align-items:center;
        justify-content:center;
        
    }
    .banner-content {
        text-align: center;
        color: red;
    }
    .banner-content h1{
        font-size:2.5rem;
    }
    .banner-content{
        font-size:1.2rem;
    }
    .banner-content p{
        font-size:1rem;
    }
    .btn{
        display:inline-block;
        padding:5px 20px;
        background-color:darkslategrey;
        color:white;
        text-decoration:none;
        font-weight:bold;
    }
    .banner-content a{
        font-size:30px;
    }
</style>
<section class="banner">
    <div class="banner-content">
        <h1 style="color:ghostwhite;">  Welcome to apple store online  </h1> 

        <p>   apple store sẽ đến VietNam:) </p>
        <a href="#" class="btn"> Find more  </a>
    </div>
</section>
<section class="content">
    <div id="Search" class="content-section">
        
    </div>
    <div id="featurePr" class="content-section">
        <h2> Spham  nổi bật  </h2>
        <div class="product"> 

        </div>
    </div>
    <div id="produclist">
         
    </div>
</section>

